@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400');
@import url('https://fonts.googleapis.com/css?family=Dosis');

h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
body,
html {
    font-family: 'Oxygen',"Ubuntu", "微软雅黑", "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

p,label,span{
    font-family: 'Roboto',"Ubuntu", "微软雅黑", "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span{
    color: #272932;
}

a{
    color: #087E8B;
}

a:hover,
a:focus,
a:visited{
    color: #0F7173;
}

/* prevent blank on the right of screen */
.container,
.container-fluid{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.row{
    padding-left: 0;
    padding-right: 0;
    margin: 0 0 0 0;
}

/* navigation */
.top-nav {
    background-color: #fff;
    -webkit-box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05);
    border: 0;
    z-index: 2;
    padding: 1rem;
    border-radius: 0;
}

.top-nav .navbar-brand {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
}

.top-nav .navbar-toggle {
    border-radius: 0.3rem;
    border: rgba(0, 0, 0, 0.5);
}

.top-nav .navbar-nav > li.top-nav-item > a {
    color: rgba(0, 0, 0, 0.5);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.top-nav .navbar-nav > li.top-nav-item > a:hover {
    color: rgba(0, 0, 0, 0.8);
}

.navbar a{
    transition: .35s all;
}

.navbar a:hover,
.navbar a:focus{
    border-bottom: 0.2rem solid #42b983;
    font-weight: 500;
}


footer {
    background: #50514F;
    color: #fff;
    position: relative;
    padding: 2rem 0 2rem 0;
    text-align: center;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer p,
footer span,
footer label,
footer a{
    color: rgba(255, 255, 255, 0.3);
    font-family: Oxygen,'Microsoft YaHei UI',Sans-serif;
    font-weight: 300;
    line-height: 1.4;
    transition: all .35s;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    color: #FE5F8B;
}

.title-row{
    padding: 3rem 2rem 3rem 2rem;
    background: url("/static/image/plag/background/geometry2.png") repeat;

}

.title-row h1,
.title-row h2,
.title-row h3,
.title-row h4,
.title-row h5,
.title-row h6,
.title-row p{
    color: #272932;
}

.article-row {
    padding: 4rem 3rem 4rem 3rem;
}

.tool-banner{
    padding: 3rem 2rem 3rem 2rem;
    background: #457fca;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.transfer-board{
    padding: 2rem;
}

.tool-banner h1,
.tool-banner h2,
.tool-banner h3,
.tool-banner h4,
.tool-banner h5,
.tool-banner h6{
    color: #FFF8B5;
}


