{% extends 'base.html' %}

{% block head %}
<script type="application/javascript" src="{{ static_url('js/portal/particle-config.js') }}"></script>

<link href="//cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

<script src="//cdn.bootcss.com/toastr.js/latest/toastr.min.js"></script>

{% end %}



{% block content %}



<div class="container-fluid notice-screen">
    <div class="row">
        <div class="alert alert-dismissible notice" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="text-center">NPUACM的海外站点(SFO,TKY)现在开放，<a href="{{ reverse_url('portal.view.staticNoticePage','multi-server') }}">点我</a>查看详情</h5>
        </div>
    </div>
</div>


{% include 'navbar.html' %}

<div class="container-fluid fullscreen" data-spy="scroll" data-target="#navbar-portal" data-offset="0">
    <div class="row portal-screen" id="particles-js" style="min-height: 100%">
        <div class="col-md-10 col-md-offset-2 text-intro">
            <h1 class="portal-title">{% module get_option('SITE_NAME') %}</h1>
            <p class="portal-description">实验站为ACM竞赛的管理提供了一个免费、高效并且开源的管理手段</p>
        </div>
    </div>
    <div class="row feature-screen">
        <!-- title -->
        <div class="row" id="reason" style="padding-top: 4rem">
            <div class="col-md-12">
                <h1 class="feature-title text-center">为什么选择？</h1>
                <!-- every feature -->

            </div>
            <!-- start every col-->
            <div class="col-md-4 feature-item text-center">
                <img src="{{ static_url('image/portal/security.svg') }}">
                <h4 class="text-center item-title">安全</h4>
                <p class="text-center">承诺不保存用户的任何密码信息，同时也承诺绝不将用户提供的邮箱信息分享给第三方。</p>
            </div>
            <!-- start every col-->
            <div class="col-md-4 feature-item text-center">
                <img src="{{ static_url('image/portal/open-source.svg') }}">
                <h4 class="text-center item-title">开源</h4>
                <p class="text-center">会将代码开源，具体代码托管于Github上。</p>
            </div>
            <!-- start every col-->
            <div class="col-md-4 feature-item text-center">
                <img src="{{ static_url('image/portal/fast.svg') }}">
                <h4 class="text-center item-title">迅捷</h4>
                <p class="text-center">采用Tornado非阻塞并发式框架，使得响应速度得到空前提升。</p>
            </div>

        </div>
    </div>
    <div class="row module-screen">
        <div class="col-md-12">
            <h1 class="text-center module-title">服务</h1>
            <p class="text-center">致力于为您提供一个简洁、高效的管理系统</p>

        </div>
        <!-- module start-->
        <div class="tab col-md-10 col-md-offset-1" role="tabpanel">
            <header class="">
                <ul id="myTab" class="nav nav-tabs nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">查询题数</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#antiCheat" role="tab" id="antiCheat-tab" data-toggle="tab" aria-controls="antiCheat">反作弊系统</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#query" role="tab" id="query-tab" data-toggle="tab" aria-controls="query">极速查询</a>
                    </li>
                </ul>
            </header>


            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">

                    <p>全面完整的爬取题数的服务。提供国内外主流OJ的题目数目查询。</p>
                    <h3 class="text-center"><span class="fa fa-globe"></span> 支持的OJ</h3>
                    <ul class="breadcrumb">
                        <li><a href="http://poj.org/">POJ</a></li>
                        <li><a href="http://acm.hdu.edu.cn/">HDU</a></li>
                        <li><a href="http://acm.zju.edu.cn/onlinejudge/">ZOJ</a></li>
                        <li><a href="http://codeforces.com/">Codeforce</a></li>
                        <li><a href="http://acm.fzu.edu.cn/">FZU</a></li>
                        <li><a href="http://acdream.info/">ACDream</a></li>
                        <li><a href="http://www.lydsy.com/JudgeOnline/">BZOJ</a></li>
                        <li><a href="http://acm.timus.ru/">URAL</a></li>
                        <li><a href="http://acm.csu.edu.cn/OnlineJudge/">CSU</a></li>
                        <li><a href="http://acm.hust.edu.cn/">HUST</a></li>
                        <li><a href="http://www.spoj.com/">SPOJ</a></li>
                        <li><a href="http://acm.sgu.ru/">SGU</a></li>
                        <li><a href="http://acm.hust.edu.cn/vjudge/toIndex.action">Vjudge</a></li>
                        <li><a href="http://acm.bnu.edu.cn/v3/">BNU</a></li>
                        <li><a href="http://acm.cqu.edu.cn/">CQU</a></li>
                        <li><a href="http://acm.uestc.edu.cn/">UESTC</a></li>
                    </ul>
                    <a href="{{ reverse_url('acmCralwer.view.queryIndexHandler') }}" class="btn">转到 <i class="fa fa-arrow-right"></i></a>
                </div>
                <div role="tabpanel" class="tab-pane fade in" id="antiCheat" aria-labelledby="antiCheat-tab">
                    <p>提供快捷而全面的反作弊服务。</p>
                    <h4>支持的检测方式</h4>
                    <ul>
                        <li>通用性k-grams分割后检测</li>
                        <li>基于C语言的抽象语法树检测</li>
                        <li>JPLAG驱动的针对特定语言的检测</li>
                    </ul>
                    <a href="{{ reverse_url('codePlag.view.plagPortalRequestHandler') }}" class="btn">转到 <i class="fa fa-arrow-right"></i></a>
                </div>
                <div role="tabpanel" class="tab-pane fade in" id="query" aria-labelledby="query-tab">
                    <p>异步非阻塞，高并发的Tornado爬虫，支持全国外主流OJ的查询。</p>
                    <h3 class="text-center"><span class="fa fa-globe"></span> 支持的OJ</h3>
                    <ul class="breadcrumb">
                        <li><a href="http://poj.org/">POJ</a></li>
                        <li><a href="http://acm.hdu.edu.cn/">HDU</a></li>
                        <li><a href="http://acm.zju.edu.cn/onlinejudge/">ZOJ</a></li>
                        <li><a href="http://codeforces.com/">Codeforce</a></li>
                        <li><a href="http://acm.fzu.edu.cn/">FZU</a></li>
                        <li><a href="http://acdream.info/">ACDream</a></li>
                        <li><a href="http://www.lydsy.com/JudgeOnline/">BZOJ</a></li>
                        <li><a href="http://acm.csu.edu.cn/OnlineJudge/">CSU</a></li>
                        <li><a href="http://acm.hust.edu.cn/">HUST</a></li>
                        <li><a href="http://www.spoj.com/">SPOJ</a></li>
                        <li><a href="http://acm.hust.edu.cn/vjudge/toIndex.action">Vjudge</a></li>
                        <li><a href="http://acm.bnu.edu.cn/v3/">BNU</a></li>
                        <li><a href="http://acm.uestc.edu.cn/">UESTC</a></li>
                    </ul>
                    <a href="{{ reverse_url('acmDetectInfo.view.queryRequestHandler') }}" class="btn">转到 <i class="fa fa-arrow-right"></i></a>

                </div>


            </div>
        </div>


    </div>



    <div class="row contact-screen">
        <div class="col-md-8 col-md-offset-2">
            <div class="contact-div">
                <h1 class="cite"><i>There's nothing sadder than a dream delayed until it fades forever.</i></h1>
                <p class="text-right">- Deng Siyu</p>
            </div>

        </div>
    </div>



</div>



{% end %}

{% block script %}
<script>

    $(document).ready(function () {
        toastr["info"]("基于JPLAG的代码查重现在免授权对外提供服务，你只需要提供zip文件即可。", "查重系统现在免授权提供服务");

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    });
</script>
{% end %}