{% extends 'base.html' %}

{% block head %}
<script src="//cdn.bootcss.com/particles.js/2.0.0/particles.min.js"></script>
<script type="application/javascript" src="{{ static_url('js/registerContest/particle-config.js') }}"></script>


{% end %}

{% block content %}
<div class="container-fluid">
    <div class="row " id="particles-js">
        <div class="col-md-10 col-md-offset-1 text-intro">
            <h2 class="text-center title">欢迎造访ACM报名系统</h2>
            <p class="text-center">仅限西工大ACM基地队员</p>
            <p class="text-center"><a class="btn btn-danger btn-lg" href="{{ reverse_url('contestRegister.views.registerRequestHandler') }}">转到 <i class="fa fa-arrow-right"></i> </a> </p>

        </div>

    </div>
</div>



{% end %}