{% extends 'base.html' %}



{% block content %}

<div class="container-fluid">
    <div class="row ">
        <h1 class="text-center title">省赛选拔报名<span class="label label-success">西工大</span> </h1>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form role="form" action="{{ reverse_url('contestRegister.views.registerRequestHandler') }}" method="post" class="form-horizontal">
                {% module xsrf_form_html() %}
                <div class="form-group">
                    <label for="name" class="col-md-2 control-label hidden-xs"> <span class="glyphicon glyphicon-user"></span>姓名</label>
                    <div class="col-md-6 col-md-offset-1">
                        <input type="text" id="name" class="form-control" name="name" placeholder="请输入姓名" size="10" required>
                    </div>

                </div>

                <div class="form-group">
                    <label for="studentID" class="col-md-2 control-label hidden-xs"><span class="fa fa-star"></span>学号</label>
                    <div class="col-md-6 col-md-offset-1">
                        <input type="number" class=" form-control" name="studentID" placeholder="请输入学号" size="10" required>
                    </div>
                    <!--
                    <label for="help " class="col-md-4 col-md-offset-3 control-label">如果您并非西北工业大学学生，请留空。</label>
                       -->
                </div>
                <div class="form-group">
                    <label for="sex" class="col-md-2 control-label hidden-xs"><span class="fa fa-magic"></span>性别</label>
                    <div class="col-md-6 col-md-offset-1">
                        <input type="checkbox" id="bootstrap-switch-square" checked data-toggle="switch" name="sex" data-on-text="男" data-off-text="女" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-md-2 control-label hidden-xs"><span class="fa fa-envelope"></span>邮件</label>
                    <div class="col-md-6 col-md-offset-1">
                        <div class="input-group">
                            <span class="input-group-addon" id="resultChecker"><span class="fui-check"></span></span>
                            <input type="email" id="email" name="email" class="form-control" placeholder="请输入您的邮箱"
                                   required
                                   pattern="^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$"
                                   title="邮箱正确格式：xxx@xxx.xxx">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="school" class="col-md-2 control-label hidden-xs"><span class="fa fa-graduation-cap"></span>学院</label>
                    <div class="col-md-6 col-md-offset-1">
                        <select id="school" tabindex="1" name="school" class="form-control select select-primary select-block mbl"
                                data-style="btn-primary" required>
                            <optgroup label="西北工业大学">
                                <option value="1">航空学院</option>
                                <option value="2">航天学院</option>
                                <option value="3">航海学院</option>
                                <option value="4">材料学院</option>
                                <option value="5">机电学院</option>
                                <option value="6">力学与土木建设学院</option>
                                <option value="7">动力与能源学院</option>
                                <option value="8">电子信息学院</option>
                                <option value="9">自动化学院</option>
                                <option value="10">计算机学院</option>
                                <option value="11">理学院</option>
                                <option value="12">管理学院</option>
                                <option value="13">人文与经法学院</option>
                                <option value="14">软件与微电子学院</option>
                                <option value="15">生命学院</option>
                                <option value="16">外国语学院</option>
                                <option value="17">国际教育学院</option>
                                <option value="18">保密学院</option>
                                <option value="0">教育实验学院</option>
                                <option value="19">其他学院/机构/附属中学</option>
                            </optgroup>
                            <optgroup label="非西北工业大学">
                                <option value="others" selected="selected">外校</option>
                            </optgroup>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="detailSchool" class="col-md-2 control-label hidden-xs"><span class="fa fa-phone"></span>手机号码</label>
                    <div class="col-md-6 col-md-offset-1">
                        <input type="text" id="phone" name="phone" class="form-control" placeholder="请输入您的手机号码">
                    </div>
                </div>

                <div class="form-group">
                    <label for="detailSchool" class="col-md-2 control-label hidden-xs"><span class="fa fa-globe"></span>学校</label>
                    <div class="col-md-6 col-md-offset-1">
                        <input type="text" id="detailSchool" name="detailSchool" class="form-control" placeholder="请输入您的学校全称">
                    </div>
                </div>
                <div class="form-group">
                    <label for="help" class="col-md-2 control-label hidden-xs"><span class="fa fa-rss"></span>说明</label>
                    <div class="col-md-6 col-md-offset-1 col-xs-0 ">
                        <p><small>如果您是外校学生，请您在学号区域填上0，学院选择外校，外校名称请给出<strong>学校大写英文的缩写</strong>（例如，西安电子科技大学请填XDU）。西工大的同学请忽略此项。</small></p>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" id="submit" class="col-md-4 col-md-offset-1  btn btn-success btn-large"><span class="fa fa-ok"></span>   报名</button>
                    <button type="reset" class="col-md-4 col-md-offset-2 btn  btn-warning btn-large"><span class="fa fa-repeat"></span>   重置</button>
                </div>

            </form>
        </div>


    </div>
</div>

{% end %}