<!-- 新 Bootstrap 核心 CSS 文件 -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="西北工业大学ACM基地查题主页，提供国内各大OJ的查询题量、计算Rating的服务。">
<meta name="author" content="kidozh">
<meta name="keyword" content="NWPUACM">

<link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">-->
<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<!--
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
-->
<script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

<link href='http://cdn.webfont.youziku.com/webfonts/nomal/19428/46865/5968b01ff629d8142063a4e6.css' rel='stylesheet' type='text/css' />

<link rel="stylesheet" href="{{ static_url('css/notification/style.css') }}">

<!--<script src="//cdn.bootcss.com/markdown.js/0.5.0/markdown.min.js"></script>-->

<!--add Vue -->
<script src="//cdn.bootcss.com/vue/2.4.1/vue.js"></script>

<script src="{{ static_url('js/notification/highlight.pack.js') }}"></script>
<script src="//cdn.bootcss.com/markdown-it/8.3.1/markdown-it.min.js"></script>

<script src="{{ static_url('js/notification/markdown-it-footnote.js') }}"></script>

<link href="{{ static_url('css/notification/synax-highlight.css') }}" rel="stylesheet">


