@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
body,
html {
    font-family: 'Lato',"Ubuntu", "微软雅黑", "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

p,label,span{
    font-family: 'Roboto',"Ubuntu", "微软雅黑", "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span{
    color: #2E3E54;
}

a{
    color: #FFE77C;
}

a:hover,
a:focus,
a:visited{
    color: #FCF7F8;
}

/* navigation */
.top-nav {
    background-color: #fff;
    -webkit-box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05);
    border: 0;
    width: 100%;
    z-index: 2;
    padding: 1rem;
    border-radius: 0;
}

/*.top-nav .navbar-brand {
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.5);
}

.top-nav .navbar-toggler {
    border-radius: 0.3rem;
    border: rgba(0, 0, 0, 0.5);
}

.top-nav .navbar-nav > li.top-nav-item > a {
    color: rgba(0, 0, 0, 0.5);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.top-nav .navbar-nav > li.top-nav-item > a:hover {
    color: rgba(0, 0, 0, 0.8);
}*/

/* for query screen */
.form-section{
    padding: 15rem 1rem 10rem 1rem;


}

.form-section input{
    background: transparent;
}

/*.form-section .input label{
    color: #ffffff ;
}

.form-section input:hover,
.form-section input:focus,
.form-section input:visited{
    background: transparent !important;
}

*/
.form-section h1,
.form-section h2,
.form-section h3,
.form-section h4,
.form-section h5,
.form-section h6,
.form-section p,
.form-section a{
    color: rgb(52, 73, 94);
    font-weight: lighter;
}

.form-section .highlight-title{
    color: #A50029;
}



.feature-section{

    background: #00d2ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00d2ff , #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00d2ff , #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.feature-section .feature{
    padding: 3rem 1rem 2rem 3rem;
}

.feature-section .feature h1,
.feature-section .feature h2,
.feature-section .feature h3,
.feature-section .feature h4,
.feature-section .feature h5,
.feature-section .feature h6,
.feature-section .feature p{
    color: #f9f2f4;
}

/* query screen */
.intro-section{
    padding: 3rem;
}

/* table screen */
.table-section {
    padding: 5rem 2rem 3rem 2rem;
}

/* FAQ */
.faq-main-screen{
    padding: 3rem;
    background-color: #454A57;
}

.faq-main-screen h1,
.faq-main-screen h2,
.faq-main-screen h3,
.faq-main-screen h4,
.faq-main-screen h5,
.faq-main-screen h6{
    font-weight: lighter;
    color: #E24147;
}

.faq-main-screen p,
.faq-main-screen span,
.faq-main-screen a{
    color: #D2C7C6;
}

.faq-item {
    padding: 1rem 0 2rem 1rem;
    border-bottom: 1px dashed #2E383F;
}

.faq-item .faq-question{
    font-weight: lighter;
    padding: 1rem 0 2rem 0;
}

.faq-item .faq-answer{
    padding-left: 2rem;
}

.foot {
    padding:2rem 3rem 2rem 3rem;
    background: #30444B;
}

.foot h1,
.foot h2,
.foot h3,
.foot h4,
.foot h5,
.foot h6,
.foot small{
    color: #FFF35F;
    font-family: Lato,"Microsoft YaHei UI",sans-serif;
}

.foot p,
.foot a{
    color:#F88334;
    font-family: Lato,"Microsoft YaHei UI",sans-serif;

}

.color-line {
    background: #f7f9fa;
    height: 0.5rem;
    background-image: -webkit-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: -moz-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: -ms-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: linear-gradient(to right, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-size: 100% 6px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

/* feature */

.feature{
    background: #2D2D2D;
}

.feature h1,
.feature h2,
.feature h3,
.feature h4,
.feature h5,
.feature h6,
.feature p,
.feature label,
.feature span{
    color: #ffffff;
    font-weight: lighter;
    font-family: 'Lato',"Ubuntu", "微软雅黑", "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.feature a{
    color: #ffcd05;
    font-family: 'Lato',"Ubuntu", "微软雅黑", "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.feature a:hover,
.feature a:focus{
    color: #FFE77C;
}

.feature .main-screen{
    padding: 10rem 3rem 10rem 4rem;
}

.feature .main-screen .main-title{
    font-size: 5rem;
    margin-bottom: 3rem;
}

.feature .main-screen .main-note{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.feature .main-image-screen {
    padding-bottom: 10rem;
    padding-top: 1rem;
}

.feature .text-highlight{
    font-size: 7rem;
    color: #FC5130;

}

.feature .feature-item{
    padding: 3rem 0 0 3rem;
}

/* CRON */
.cron-intro{
    background: url(/static/image/portal/pexels-photo-large.jpg) no-repeat center top;
    padding: 10rem 3rem 10rem 3rem;
    /* text-align: center; */
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cron-intro h1,
.cron-intro h2,
.cron-intro h3,
.cron-intro h4,
.cron-intro h5,
.cron-intro h6,
.cron-intro p{
    color: #fffff9;
}

.cron-intro .intro-main{
    font-size: 4rem;
    font-family: 'Lato', "微软雅黑", sans-serif;
    padding-bottom: 3rem;
    letter-spacing: 1.5rem;
}

.cron-intro p{
    font-size: 2rem;
}

.submit-screen{
    background: #171f26;
    padding: 5rem 3rem 5rem 3rem;
}

.submit-screen h1,
.submit-screen h2,
.submit-screen h3,
.submit-screen h4,
.submit-screen h5,
.submit-screen h6,
.submit-screen p,
.submit-screen label,
.submit-screen li{
    color: hsla(0,0%,100%,.8);
}

.submit-screen .form-control{
    background: #283542;
    border: none;
    border-radius: 0;
    color: hsla(0,0%,100%,.8);
    font-family: Roboto,"Microsoft YaHei UI",sans-serif;
    padding: 1.2rem 1.5rem;
}

.submit-screen .form-control:before{
    content: "$";
    opacity: .5;
}

.submit-screen .btn-submit{
    background: #1094e8;
    border-radius: 0;
    border: none;
    color: #fffff1;

}

.btn-submit span{
    color:#ffffff;
}

.pass-intro{
    background: url(/static/image/portal/pexels-photo-262669.jpeg) no-repeat center top;
    padding: 10rem 3rem 10rem 3rem;
    /* text-align: center; */
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pass-intro h1,
.pass-intro h2,
.pass-intro h3,
.pass-intro h4,
.pass-intro h5,
.pass-intro h6,
.pass-intro p{
    color: #fffff9;
}

.pass-intro .intro-main{
    font-size: 4rem;
    font-family: 'Lato', "微软雅黑", sans-serif;
    padding-bottom: 3rem;
    letter-spacing: 1.5rem;
}

.pass-intro p{
    font-size: 2rem;
}


/* prevent blank on the right of screen */
.container,
.container-fluid{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.row{
    padding-left: 0;
    padding-right: 0;
    margin: 0 0 0 0;
}

.dropdown-menu{

    border: none;
}

.dropdown-item{
    margin-left: 0 !important;
    color: #2b2d2f !important;
}


.realtime-intro{
    background: url(/static/image/portal/sky-night-space-galaxy.jpeg) no-repeat center top;
    padding: 10rem 3rem 10rem 3rem;
    /* text-align: center; */
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.realtime-intro h1,
.realtime-intro h2,
.realtime-intro h3,
.realtime-intro h4,
.realtime-intro h5,
.realtime-intro h6,
.realtime-intro p{
    color: #fffff9;
}

.realtime-intro .intro-main{
    font-size: 4rem;
    font-family: 'Lato', "微软雅黑", sans-serif;
    padding-bottom: 3rem;
    letter-spacing: 1.5rem;
}

.realtime-intro p{
    font-size: 2rem;
}

.btn-realtime{
    padding: 1rem 3rem 1rem 3rem;
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:#FFF8B5;
}

.history-bg{
    background: #E3E3E3;
    padding: 3rem 2rem 3rem 2rem;
}

.history-bg .search-card{
    background-color: white;
    border-radius: 0.4rem;
}

.search-card .title{
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.history-bg .history-input{
    background: #E6EAEE;
    box-sizing: border-box;
}

.history-bg .card-title{

    color: #263646;
}

.history-bg .btn-search{
    margin: 1rem 0 1rem 0;
    filter:brightness(97%);
    background: #14233C;
    color: #FFF8B5 !important;
}

.history-bg a{
    color: #455D7A;
    transition: all .35s;
}

.history-bg a:hover,
.history-bg a:focus{
    color: #233142;
    text-decoration: none;
}

.chart-card{
    background: #ffffff;
    border-radius: 0;
    padding: 3rem 1rem 3rem 1rem;
}

/* radio optimization */

input[type="checkbox"],
input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
input[type="checkbox"]:focus + label:before,
input[type="checkbox"]:hover + label:before,
input[type="radio"]:focus + label:before,
input[type="radio"]:hover + label:before {
    border-color: black;
}
input[type="checkbox"]:active + label:before,
input[type="radio"]:active + label:before {
    -webkit-transition-duration: 0;
    transition-duration: 0;
    -webkit-filter: brightness(0.2);
    filter: brightness(0.2);
}
input[type="checkbox"] + label,
input[type="radio"] + label {
    position: relative;
    padding: 10px;
    padding-left: 2em;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    box-sizing: content-box;
    content: '';
    color: #900;
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -9px;
    border: 2px solid grey;
    text-align: center;
}
input[type="checkbox"] + label:after,
input[type="radio"] + label:after {
    box-sizing: content-box;
    content: '';
    background-color: #900;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
    transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}
input[type="checkbox"] + label:after {
    background-color: transparent;
    top: 50%;
    left: 4px;
    width: 8px;
    height: 3px;
    margin-top: -4px;
    border-style: solid;
    border-color: #900;
    border-width: 0 0 3px 3px;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    -webkit-transition: none;
    transition: none;
}
input[type="checkbox"]:checked + label:after {
    content: '';
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
    transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}
input[type="radio"]:checked + label:before {
    -webkit-animation: borderscale 300ms ease-in;
    animation: borderscale 300ms ease-in;
    background-color: white;
}
input[type="radio"]:checked + label:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}
input[type="radio"] + label:before,
input[type="radio"] + label:after {
    border-radius: 50%;
}
input[type="checkbox"]:checked + label:before {
    -webkit-animation: borderscale 200ms ease-in;
    animation: borderscale 200ms ease-in;
}
input[type="checkbox"]:checked + label:after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}
@-webkit-keyframes borderscale {
    50% {
        box-shadow: 0 0 0 2px #900;
    }
}
@keyframes borderscale {
    50% {
        box-shadow: 0 0 0 2px #900;
    }
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%228%22%20viewBox%3D%220%200%2016%208%22%3E%3Cpolygon%20fill%3D%22%234D4D4D%22%20points%3D%228%2C0%2016%2C0%2012%2C4%208%2C8%204%2C4%200%2C0%20%22/%3E%3C/svg%3E);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    border: 2px solid grey;
    border-radius: 0;
    padding: 0.25em 0.4em;
    padding-right: 1.5em;
}
select:focus,
select:hover {
    border-color: black;
    outline: none;
}
select:active {
    border-color: #900;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.error-msg {
    display: block;
    color: red;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 500ms ease-out;
    transition: max-height 500ms ease-out;
    will-change: max-height;
}
:required:not(:focus) ~ .error-msg,
:invalid:required ~ .error-msg {
    max-height: 9em;
}
input:focus {
    border: 1px solid black;
}
input:not(:focus):invalid {
    border: 1px solid red;
    outline: none;
}
input:not(:focus):valid {
    border: 1px solid green;
}
