<h3>被限制服务的地区</h3>
<p>根据后台Ngnix的日志信息，我们将会对下面地区所有的IP进行限制使用措施</p>
<table class="table table-inverse">
    <thead>
        <tr>
            <td>地区</td>
            <td>疑似IP地址</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>俄罗斯</td>
            <td>31.184.238.55</td>
        </tr>
        <tr>
            <td>乌克兰</td>
            <td>37.115.184.147</td>
        </tr>
        <tr>
            <td>捷克</td>
            <td>93.170.130.95</td>
        </tr>
        <tr>
            <td>台湾省</td>
            <td>
                <ul>
                    <li>61.225.81.106</li>
                    <li>61.217.116.15</li>
                </ul>

            </td>
        </tr>
    </tbody>
</table>

<p>如果您恰巧处于这些地区，您可以联系kidozh@npuacm.info获取帮助。</p>

<p>小水管啊。。。经不起各位dalao的摧残。。。给dalao倒茶.jpg</p>