{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row realtime-intro">
        <div class="col-md-10 col-md-offset-1">
            <h1 class="text-center intro-main">- CRON -</h1>
            <p class="text-center">实时情况</p>
        </div>
    </div>
    <div class="row submit-screen">
        <div class="col-md-10 col-md-offset-1">
            <h3>上次更新时间</h3>
            {% if lastQuerytime %}
            <p>上次更新于{{ lastQuerytime }}</p>
            {% else %}
            <p>很抱歉，目前账号并没有得到更新。</p>
            {% end %}
            <h3>系统每日更新时间</h3>
            <p>{{ everyhour }}时</p>
            <h3>每日会查询的账号：</h3>
            <p>共{{ len(accounts) }}个。</p>
            <ul>
                {% for account in accounts %}
                <li>{{ account }}</li>

                {% end %}
            </ul>

            <h3>如何看到我每天的成果？</h3>
            <p>请使用我们的<a href="{{ reverse_url('acmDetectInfo.view.historyRequestHandler') }}">历史曲线图</a>(上方标题栏 &gt; 扩展 &gt; 历史曲线图)这个功能，输入您的账户，您就可以看到所有我们检索这个账户的全部信息。</p>


            {% include 'cron_announcement.html' %}
        </div>
    </div>
</div>

{% include 'footer.html' %}

{% end %}