<div class="container-fluid foot">
    <div class="row ">
        <div class="col-md-10 col-md-offset-1">
            <p class="text-center">© {{ datetime.datetime.now().year }} {% module get_option('site_name') %}. All rights reserved</p>
            <p class="text-center"> {% module get_option('BEIAN_NUM') %}</p>
            <p class="text-center">{% module get_option('POLICE_BEIAN_NAME') %}</p>
        </div>
        <!--<div class="col-md-3 col-md-offset-1">
            <p class="text-right">Developed by NWPUACM</p>
        </div>-->
    </div>
</div>