<div class="container-fluid foot">
    <div class="row ">
        <div class="col-md-10 col-md-offset-1">
            <p class="text-center">© {{ datetime.datetime.now().year }} {% module get_option('site_name') %}. All rights reserved</p>
            <p class="text-center"> {% module get_option('BEIAN_NUM') %}</p>
            <p class="text-center">{% module get_option('POLICE_BEIAN_NAME') %}</p>
            <!-- IPv6-test.com button BEGIN -->
            <p class="text-center"><a href='http://ipv6-test.com/validate.php?url=referer'><img src='http://ipv6-test.com/button-ipv6-big.png' alt='ipv6 ready' title='ipv6 ready' border='0' /></a></p>
            <!-- IPv6-test.com button END -->
        </div>
        <!--<div class="col-md-3 col-md-offset-1">
            <p class="text-right">Developed by NWPUACM</p>
        </div>-->
    </div>
</div>