{% extends 'base.html' %}

{% block webTitle %}联系我们{% end %}

{% block content %}
<div class="container-fluid">
    <div class="row doc-title">
        <div class="col-md-8 col-md-offset-2">
            <h1>联系我们</h1>
        </div>

    </div>
    <div class="row doc">
        <div class="col-md-8 col-md-offset-2">
            <h1>联系我们</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>联系方式</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>鸡毛邮件</td>
                        <td><a href="mailto:support@npuacm.info">support@npuacm.info</a></td>
                    </tr>
                    <tr>
                        <td>在Q群谈笑风生</td>
                        <td>198820787</td>
                    </tr>
                    <tr>
                        <td>围观我们</td>
                        <td>陕西省西安市长安区西北工业大学长安校区计算机学院110室</td>
                    </tr>
                    <tr>
                        <td>西北工业大学acm玄学办</td>
                        <td><a href="https://github.com/nwpuacm2012">https://github.com/nwpuacm2012</a></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
{% end %}