{% extends 'base.html' %}

{% block webTitle %}隐私政策{% end %}

{% block content %}
<div class="container-fluid">
    <div class="row doc-title">
        <div class="col-md-10 col-md-offset-1">
            <h1>隐私政策</h1>
        </div>
    </div>
    <div class="row doc">
        <div class="col-md-8 col-md-offset-2">
            <h1>欢迎了解我们的隐私权政策</h1>
            <p>当您使用查重服务，即表示您信赖我们对您的信息的处理方式。此隐私权政策旨在帮助您了解我们会收集哪些数据、为什么收集这些数据以及会利用这些数据做些什么。了解这些内容至关重要，因此我们希望您能抽出时间仔细阅读此政策。</p>
            <h1>我们可能收集的信息</h1>
            <p>我们提供服务时，可能会收集、储存和使用下列与您有关的信息。如果您不提供相关信息，可能无法达到相关服务拟达到的效果。</p>
            <h2>您提供的信息</h2>
            <ul>
                <li>您向我们提供的代码</li>
                <li>您对于该代码类型的表述</li>
            </ul>
            <h1>我们可能如何使用信息</h1>
            <p>我们可能将在向您提供服务的过程之中所收集的信息用作下列用途：</p>
            <ul>
                <li>向您提供服务</li>
                <li>帮助我们设计新服务，改善我们现有服务</li>
                <li>让您参与有关我们服务的调查</li>
            </ul>
            <h1>我们可能分享的信息</h1>
            <p>我们不会与除我们以外的任何组织和个人分享用户的个人信息，但以下情况除外：</p>
            <ul>
                <li>
                    <p>出于法律原因</p>
                    <ul>
                        <li>遵守适用的法律法规；</li>
                        <li>遵守法院命令或其他法律程序的规定</li>
                        <li>遵守相关政府机关的要求</li>
                    </ul>
                </li>
            </ul>
            <h1>联系我们</h1>
            <p>如果您有任何问题，欢迎来邮件kidozh(a)npuacm.info</p>

        </div>
    </div>
</div>
{% end %}